body {
    background-color: white;
    font-family: "Lato", sans-serif;
box-sizing: border-box;  
}

html {}
Body{
    height: 95vh;
    overflow: hidden;
}

header{
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    left:0;
    font-size: 12px;
    
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: white;
  }

  .topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
  }

  li a:hover{
    text-decoration: underline;
  }

  .navright{
    float: right;
}


.menu-tile img{
    width:16px;
    height: 16px;
    opacity: 55%;
}

.menu-tile img:hover{
opacity: 100%;
}
.sign-in{
background-color: #4285f4;
height: 6px;
padding: 5px 10px 5px 10px;
color: #fff !important;
font-weight: 700;
border-radius: 5px;
cursor: pointer;
align-items: center;
justify-content: center;
}

/*start main section style */

#main-search{
    width: 100%;
    text-align: center;
    margin-top: 120px;
}

#search-container{
    display: flex;
}
#search-box{

    width: 50%;
    margin: 0 auto;
    padding: 10px;
}


#search{
    width: 488px;
    height: 44px;
    outline: none;
    border: 1px solid #dfe1e5;
    border-radius: 25px;
    
}
#button-container{

    width: 50%;
    margin: 0 auto;
    padding: 10px;
}
#submit{
    background-color:
    #f2f2f2;
    border: 1px solid
    #f2f2f2;
    border-radius: 4px;
    color:
    #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none; 
}

#submit:hover{
    /* outline:grey solid 1px; */
    border: 1px solid #c6c6c6;
    /* box-shadow: 2px 2px grey; */
}


/* footer menu style */

footer{
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    left: 0;
    background-color: #f2f2f2;
    font-size: 12px;
    width: 100%; /* Full width */
    
}

.bottomnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
  }
  .bottomnav li a {
    display: block;
    color: #5f6368;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .bottomnav li a:hover {
      text-decoration: underline;
  }

.bottomnavright{
    float: right;

}